/* Coding Institute DEI Project */
/* paulabes */
/* 25/11/2024 */

/* Bangers - google font */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    padding: 30px 0 0 0;
}

/* font styles */

h1,
h2,
.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 2.2rem;
    color: #f0f0f0;
    margin: 0.2rem 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif !important;
    font: 1.2rem bold;
    margin-bottom: 1rem;
}

ul>li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

a:active,
a:link {
    text-decoration: none;
}

a:hover a:visited {
    text-decoration: none;
    background-color: #f0f0f0;
}

/* navbar */

.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

/* buttons */

.btn {
    margin-bottom: 20px;
    border-radius: 0px;
    padding: 10px 20px 15px 20px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

/* title bar */

.title-bar-content {
    padding-top: 50px;
}

/* sections */

section {
    padding: 30px 0;
}

#about,
#tools,
#action {
    background-color: #2b3035;
}

#footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

#resources,
#advice,
#help {
    padding: 10px;
}

.accordion-item {
    border-radius: 0px;
}

.title-bar {
    background-color: #2b3035;
}

.form {
    background-color: #2e3236;
    padding: 30px;
    margin-bottom: 30px;
}

/* media queries */

@media (min-width: 768px) {

    #resources {
        border-right: 2px solid #2e3236;
    }

    #help {
        border-left: 2px solid #2e3236;
    }

    #resources,
    #advice,
    #help {
        padding: 30px;
    }

    .center {
        text-align: center;
    }
}

@media (max-width: 768px) {}