/* Coding Institute DEI Project */
/* paulabes */
/* 25/11/2024 */

/* Bangers - google font */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* font styles */

p {
    font-size: 1.1rem;
}

h1, h2, h3{
    font-family: 'Bangers', cursive;
    color: #f0f0f0;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 2.2rem;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}
