/* Coding Institute DEI Project */
/* paulabes */
/* 25/11/2024 */

/* Bangers - google font */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    padding: 2%;
}

/* font styles */

h1, h2, .navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 2.2rem;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

ul>li {
    font-size: 1.2rem;
}

/* navbar */

.navbar-toggler {
    border: none;
}

/* media queries */

@media (min-width: 768px) {

    }
    
    @media (max-width: 992px) {

    }
